
.background_blog{
    background-color: #E8F0F2;
  } 

.background_login{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #053742;
    border-radius: 10px;
    padding: 5%;
}